.red-text{
  color: red;
}

.img-border{
  border-color: red;
  border-width: 8px;
  border-style: outset;
  border-radius: 10px;
 }

h1{
  font-size: 85px;
  font-family: Copperplate Gothic Bold;
    margin: 25px;
  }
body{
  
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(orange, white, green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(orange, white, green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(orange, white, green); /* For Firefox 3.6 to 15 */
    background: linear-gradient(orange, white, green); /* Standard syntax */
 
}
ul{
  font-size: 15px;
  margin: 20px;
  text-align: left;
  width: 618px;
  }

#quote{
  position: relative;
  margin: 30px;
  color: lightblue;
  /*background-color: lightgreen;*/
}
#wikipedia{
  positon: relative;
  bottom: -100px;
  right: -1000px;
  width: 13%;
  margin: 20px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 8px;
}